
<div class="card">
  <div class="card-img"><img src={{img_url}}></div>
  <div class="card-body">
    <h5 class="card-title">{{product_name}} <strong>${{price}}</strong></h5>
    <p class="card-text">{{description}}</p>
    <a href="#" class="btn custom shoe"><i
        class="fas fa-cart-arrow-down"
      ></i>add to cart</a>
  </div>
</div>
