<div class="row">
  <div class="col-md-12" style="width:80%; display:flex; justify-content: center;">
    {{#if loggedIn}}
    <button type="button" class="btn custom"><a href="/store">Shop Now</a></button>
    {{else}}
    <button type="button" class="btn custom"><a href="/login">Shop Now</a></button>
    {{/if}}
  </div>
</div>