<!-- hero -->
<div class="animation">
  <div class="col-lg-8" style="width:80%">
    <img class="adidas" src="./img/adidas.png" alt="adidas">
    <div>
      <div class="bg"></div>
      <div class="bg bg2"></div>
      <div class="bg bg3"></div>
    </div>
  </div>
</div>

<span class="sales">40% OFF</span>
<div class="row">
  <div class="col-md-12" style="width:80%; display:flex; justify-content: center;">
    {{#if loggedIn}}
    <button type="button" class="btn custom"><a href="/store">Shop Now</a></button>
    {{else}}
    <button type="button" class="btn custom"><a href="/login">Shop Now</a></button>
    {{/if}}
  </div>
</div>