<div class="store">
    <div class="row store-row">
    
        {{#each products as |product|}}
        <div>
          {{> product-info product}}
        </div>
        {{/each}}
      </div>               

</div>

{{!-- <script src="/js/cart.js"></script> --}}