<div class="store">
    <div class="row store-row">
        <div class="cards-wrapper">
        {{#each products as |product|}}
        <div>
          {{> product-info product}}
        </div>
        {{/each}}
      </div>               
    </div>
</div>