@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200;400;600&family=Rowdies:wght@700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  position: relative;
}
a {
  text-decoration: none;
  color: #fff;
}
a:active,
a:hover {
  outline: 0;
  text-decoration: none;
   color: #fff;
}
/* NAVIGATION */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.nav-collapse,
.nav-collapse * {
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

@media screen and (min-width: 40em) {
  .nav-collapse {
    float: right;
    width: auto;
  }
}

.nav-collapse li {
  float: left;
  width: 100%;
}

@media screen and (min-width: 40em) {
  .nav-collapse li {
    width: auto;
  }
}

.nav-collapse a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-top: 1px solid white;
  text-decoration: none;
  background-color: #801336;
  padding: 0.7em 1em;
  color: #fff;
  width: 100%;
  float: left;
}

.nav-collapse a:active,
.nav-collapse a:hover,
.nav-collapse .active a {
  background-color: #c72c41;
}

@media screen and (min-width: 40em) {
  .nav-collapse a {
    border-left: 1px solid white;
    padding: 1.02em 2em;
    text-align: center;
    border-top: 0;
    float: left;
    margin: 0;
  }
}

.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 2em;
}

@media screen and (min-width: 40em) {
  .nav-collapse ul ul a {
    display: none;
  }
}
/* LOGO */

header {
  background-color: #801336;
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
}
a.logo {
  text-decoration: none;
}

.logo {
  text-decoration: none;
  margin-left: 20px;
  font-size: 30px;
  font-family: "Lobster", cursive;
  font-weight: bold;
  line-height: 55px;
  padding: 0 20px;
  color: #fff;
  float: left;
}
.logo:hover {
  color: #c72c41;
}

/* hero */

.bg {
  height: 80vh;
  min-height: 495px;
  max-height: 550px;
  animation: slide ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}
.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}
.bg3 {
  animation-duration: 5s;
}

h1 {
  font-family: monospace;
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
.animation {
  position: relative;
}
.adidas {
  width: 60%;
  height: auto;
  margin-top: -500px;
  margin-left: 200px;
  transition: transform 0.7s ease-in-out;
}
.adidas:hover {
  transform: rotate(-30deg);
}
.sales {
  border: 8px solid white;
  border-radius: 100%;
  color: white;
  font-size: 40px;
  font-family: "Rowdies", cursive;
  font-weight: 700;
  padding: 60px 20px;
  position: absolute;
  bottom: 400px;
  right: 15%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* media */

@media (max-width: 1000px) {
  .adidas {
    width: 60%;
    margin-top: -300px;
    margin-left: 100px;
  }
  .sales {
    font-size: 20px;
    padding: 40px 10px;
    bottom: 500px;
    right: 10%;
  }
  footer p{
    font-size: 14px;
  }
  .btn.custom.shoe{
    margin-left:-10px;
  }

}

main {
  margin-top: 550px;
  background-color: white;
}
.btn.custom {
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: #801336;
  color: white;
  width: 300px;
  font-size: 20px;
}
.btn.custom:hover {
  background-color: #c72c41;
}
.btn.custom.shoe {
  width: 100%;
  background-color: #c72c41;
}
.btn.custom.shoe:hover {
  background-color: #801336;
}


/* cards */
.store{
  margin-left: 200px;
}
.store-row {
  margin-top: -420px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
  min-width: 300px;
  padding: 5px;
  margin:10px;
}

.card-img {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
}

footer {
  margin-top: 40px;
  width: 100vw;
  height: 100px;
  background-color: #801336;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
img {
  height: 300px;
}


/* LOGIN PAGE */
.login-row{
  margin: -400px 50px 0 50px;
}
